<div class="myformdiv">
  <h1 class="formtitles">Editing Comment</h1>

  <%= render 'form', comment: @comment %>

  <%= link_to 'Show', [@record, @comment] %> |
  <%= link_to 'Back', records_path(@record) %>
</div>
