/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
     font-family: 'got_heroinregular';
     src: url('sex_pistols-webfont.woff2') format('woff2'),
          url('sex_pistols-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;

 }

.homepageheader{
  text-align: center;
  font-family: sex_pistolsregular;
  font-size: 10em;
}

.homepagesubheading{
  text-align: center;
  font-family: 'Special Elite', cursive;
}

.commenttitle{
  font-weight: bold;
  font-size: 1.25em;
}

.commentheader{
  font-size: 2em;
}

.showrecordinfo{
  font-size: 3em;
}

.showrecordheaders{
  font-size: 3em;
}

#alert{
  color: red;
}
